* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(76, 203, 203);
    text-decoration: underline;
    color: white;
    padding: 30px 20px;
}

.add-song{
    margin: 0 auto;
    padding: 20px 30px;
    align-items: center;
}

.search{
    margin: 0 auto;
    padding: 0 0 0 40%;
    font-family: 'Courier New', Courier, monospace;
}

.search input{
    padding: 11px 20px;
}

.search button{
    padding-bottom: 12px;
    background-color: rgb(69, 170, 204);
}
.search button:hover {
    font-size: 18px;
    background-color: rgb(87, 182, 182);
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px lightblue;
    transition: 2s;
    margin-left: 5px;
}

.player {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin: 0 auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(69, 170, 204);
    color: white;
    border-radius: 9px;
    cursor: pointer;

}

button:hover {
    background-color: rgb(69, 170, 204);
}

.filters {
    position: relative;
    display: flex;
    margin-left: 0;
    float: right;

}

#filterToggleBtn {
    background: none;
    border: none;
    font-size: 24px; /* Adjust size of the icon */
    cursor: pointer;
    color: white;


}

#filterOptions {
    margin-top: 10px;
    background-color: #1e1e1e;
    padding: 10px 20px;
    border-radius: 20px;

}

#filterOptions h2{
    margin-bottom: 20px;
}

.add-song {
    margin-bottom: 30px;
}

.songs-list, .playlist {
    margin-top: 20px;
}

ul {
    list-style: none;
}

li {
    margin: 10px 0;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


#songList button{
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(69, 170, 204);
}

#songList button:hover{
    font-size: 18px;
    background-color: rgb(87, 182, 182);
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px lightblue;
    transition: 2s;
    margin-left: 5px;
}

#playlistSection button{
    margin-left: 10px;
    border-radius: 10px;
    background-color: rgb(69, 170, 204);

}

#playlistSection button:hover{
    font-size: 18px;
    background-color: rgb(87, 182, 182);
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px lightblue;
    transition: 2s;
    margin-left: 5px;
}


.playlist-container{
    display: flex;
}

.playlist-container div{
    margin-left: 10%;
}